body{
    margin:0;
}
h1{
    width:500px;
    margin:0 20%;
}
span{
    font-size: 20px;
    text-align: center;
}

.order-info{
    height:100%;
    width: auto;
    background-color: lightblue;
    display:flex;
    flex-direction: column;
    /* margin:50px 300px 10px;
    padding: 30px 50px; */
}
.name{
    height:150px;
    margin:5 0 20px;
    border:1px solid;
    padding:10px;
    font-size:18px;
    display: flex;
    flex-direction: column;
}
.name input{
    width:500px;
    height:40px;
}

.contact{
    margin:5px;
    border:1px solid;
    padding:10px;
    font-size:20px;
    display: flex;
    flex-direction: column;
}
.address{
    margin:5px;
    border:1px solid;
    padding:10px;
    font-size:18px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-items: center;
}

input{
    height:30px;
    width:400px;
    margin:5px;
}
.payment{
    display:flex;
    flex-direction: column-reverse;
}
.payment p{
    font-size:20px;
}
.payment label{
    font-size: 20px;

}

.place-order{
    display: flex;
    justify-content:center;
    margin:50px 0;
}
.place-order input{
    font-size: 20px;
}

@media(max-width:500px){

    body{
        margin:0;
    }
    h1{
        width:500px;
    }
    span{
        font-size: 20px;
        text-align: center;
    }
    .name{
        height:100px;
        margin:0;
        border:1px solid;
        padding:0px;
        font-size:15px;
        display: flex;
        flex-direction: column;
        padding:10px;
    }
    .name input{
        width:auto;
        height:30px;
    }
    
    .contact{
        margin:5px;
        border:1px solid;
        padding:10px;
        font-size:15px;
        display: flex;
        flex-direction: column;
    }
    .address{
        margin:5px;
        border:1px solid;
        padding:10px;
        font-size:15px;
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-items: center;
    }
    
    input{
        height:30px;
        width:auto;
        margin:0;

    }
    .payment{
        display:flex;
        flex-direction: column-reverse;
    }
    .payment p{
        font-size:18px;
    }
    .payment label{
        font-size: 15px;
    
    }
    
    .place-order{
        display: flex;
        justify-content:center;
        margin:50px 0;
    }
    .place-order input{
        font-size: 20px;
    }
}